<footer>
    <hr>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand" style="text-align: center;">&copy; Made by
            <div ><b>SAHIL SUKHDEVE </b></div> <br>
            <div><a href="https://github.com/Sahil-Sukhdeve12/">GITHUB</a></div>
        
        </div>
    </div>
</footer>